<div>
  <div class="page">
    <table id="the-invoice-changer">
      <thead id="main-thead">
        <tr>
          <th>
            <div style="height:5mm;">&nbsp;</div>
            <table class="table headercon">
              <tbody>
                <tr class="side-main-border">
                  <td>
                    <div class="logocon" style="margin-top: 16px;text-align: center;">
                    <a href="#"><img style="/* width: 147px; *//* margin-left: 30px; */" class="" src="http://remoteinvoices.com/account/uploads/3/logo.png" alt="logo"></a>
                      <div class="logoname">
                        <strong>
                          <span style="color: #e57716;">PRAGATI</span>
                          <span style="color: #0092dc;"> ENTERPRISES</span>
                        </strong>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="psktitl"><h3 class="pskbanner" style="font-size: 26px;"> PRAGATI ENTERPRISES</h3>
                      <div class="address" style="font-size: 9pt; padding-top: 5px;">
                        <span style="text-decoration: underline;font-weight: 900;">WORKS</span>: Milkat No.5/662, First Floor, Procom system, Opposite Benkar Industries Road, Behind Intelux Compony, SR.No. 30/4, Dhayari, Pune-411041
                        <div style="height: 3px;"></div>
                        <span style="text-decoration: underline;font-weight: 900;"> REGD.OFFICE</span>: 372/1,PLOT NO.51,HIRA KUNJ,SAMATA PARK SHAHUPURI ,SATARA-415002. <br>
                        <strong>Mob </strong>+91-9689062216/7506790048  <br>
                        <strong>Email:</strong> pragatienterprises00@gmail.com
                        <br>
                        <strong>GST No:</strong>  27AARFP8529J1ZF
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="side-main-border">
                  <td class="taxinvottl" colspan="2">purchase order</td>
                </tr>
              </tbody>
            </table>
          </th>
        </tr>
      </thead>
    <tbody id="main-tbody">

    </tbody>
    <tfoot id="main-tfoot">
      <tr>
        <td style="border-top: 2px solid #000;">
          <div style="height:4mm;">&nbsp;</div>
        </td>
      </tr>
    </tfoot>
    </table>
  </div>
</div>